body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    
}
.heading{
    margin-left: 20px;
}
/*-----------------
 first section css
 ---------------- */

.container{
    display: flex;
    width: 100%;
}
.influencer-detail{
    Width :582px;
    Height: 270px;
    margin-left: 30px;
    /* margin-top: 100px; */

}
.influencer-detail h1{
    font-weight: 900;
    font-size: 2.5em;
}
.prebook-btn{
    display: inline;
    padding: 10px 10px 10px 10px;
    background-color: #E02C6D;
    border-radius: 30px;
    /* margin-right: 400px; */
}
.link-button{
    text-decoration: none;
    color: white;
   
}
.fa-arrow-right{
    color: white;
}
.influencer-image{
    margin-left: 10px;
    align-items: center;
    transition: transform 1.5s ease;
}
.influencer-image:hover{
    transform: scale(1.2) rotate(-30deg);
    /* transition-timing-function: ease-in; */
}

/*-----------------
 first section css
 ---------------- */
.grid-container{
    /* width: 1027px; */
    margin-left: 20px;
    margin-top: 40px;
}

 .popular-collection{
     text-align: center;
 }
 .collection-items{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 30px;
     grid-row-gap: 30px;

 }
 .collection-item{
     width: 300px;
     height: 479px;
     /* margin-left: 120px; */
     padding: 20px;
     box-shadow: 5px 10px 8px 10px #c2c0c02d;

 }

 .collection-items .collection-item .item-picture img{
     height: 256px;
     width: 300px;
 }

 .fa-star.filled{
     color: #FB8200;
     height:16px ;
     width: 16px;
 }
 .see-more{
     display: inline;
    
    position: relative;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
 }
 .link-button2{
    text-decoration: none;
    color: #E02C6D;
   
}
 .fa-arrow-right.color{
    color: #E02C6D;
}
/* extra section */
.readmore-section h2{
    text-align: center;
}


.readmore-containers{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.readmore{
    width: 250px;
    height: 550px;
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 5px 10px 8px 10px #c2c0c02d;
    transition: transform 1s;
}
.readmore:hover{
transform: scale(1.1);
}
.readmore img{
    width: 250px;
}
.readmore-newpage{
margin-left: 110px;
}

/* footer style */
footer{
    background-color: rgb(2, 2, 34);
    color: white;
    padding: 50px;
    text-align: center;
}
footer h3{
    font-size: 24px;
}
.fa-instagram{
    padding: 10px;
}
.fa-basketball-ball{
    padding: 10px;
}
.fa-twitter-square{
    padding: 10px;
}

/* media query for mobile phone */
@media only screen and (max-width:680px){
    body {
        overflow-x: hidden !important;
    }
    .heading{
        margin-left: 120px;
    }
 
    .become-influencer{
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
    }
.container{
    display: flex;
    /* width: 100%; */
    flex-direction: column-reverse;
}
.container h1,p{
    text-align: center;
}
.container img{
    align-content: center;
    width: 90%;
    margin-left: 20px;
}
.prebook-btn{
   
     margin-left: 100px;
}
.influencer-detail{
    width: 90%;
}
.grid-container{
    margin-top: 250px;
}
.popular-collection{
    text-align: left;
    margin-left: 100px;
    width: 200px;
    margin-right: 0;

}
.collection-items {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.collection-item{
    margin-left:0px ;
}
.stars-five{
    margin-left: 100px;
}
.readmore-containers {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

}
@media only screen and (min-width:688px) and (max-width:992px){

    .collection-items {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .readmore-containers {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}

